#bg-image {
  background: url(../assets/home-background.svg) no-repeat;
  height: 125vh;
  background-position: 37vw 20vh;
}

#homepage {
  width: 90%;
  height: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#homepage header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homepage header a {
  display: flex;
  font-weight: bold;
}

#homepage header span {
  background: url(../assets/log-in.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 16px;
}

#homepage main {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#homepage main h1 {
  font-size: 54px;
}

#homepage main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#homepage main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  transition: 400ms;
}

#homepage main a:hover {
  background-color: #2fb86e;
}

#homepage main span {
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage main span::after {
  content: '';
  background: url(../assets/search.svg);
  width: 20px;
  height: 20px;
}

#homepage main strong {
  color: white;
  flex: 1;
  text-align: center;
}

#modal {
  background-color: #0E0A14ef;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal .content {
  color: white;
  width: 420px;
}

#modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

#modal .header h1 {
  color: white;
  font-size: 36px;
  line-height: 42px;
}

#modal .header a {
  background-image: url(../assets/x.svg);
  display: flex;
  height: 20px;
  width: 20px;
  font-size: 0.01px;
}

#modal form label {
  font-size: 16px;
  line-height: 16px;
  display: block;
  margin-bottom: 8px;
}

#modal form .search-field {
  display: flex;
}

#modal form input {
  flex: 1;
  background-color: #f0f0f5;
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

#modal form button {
  background-color: var(--primary-color);
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 0 8px 8px 0;
}

#modal form button:hover {
  background-color: #2fb86e;
}

#modal.hide {
  display: none;
}
